
{{#with user}}
  <h2 class="username">{{ firstName }} {{ lastName }}</h2>

  <p>Hello, {{firstName}}. Here are all your information stored and you can edit them by clicking on "edit"</p>

{{!-- populate with data --}}
<p> Full name:{{firstName}} {{lastName}} </p>
<p> Mail adresse/ account name: {{email}} </p>
{{/with}}
<p> Credit card: **** **** {{lastDigit}}</p> 
// before password change asking for pw again



 <button>
    <a href="/auth/userupdate">Edit</a>
  </button>

  <button>
    <a href="/auth/userprofile">Reload the page</a>
  </button>

  <button>
    <a href="/auth/delete">Delete my Account</a>
  </button>
