
{{#with user}}
  <h2 class="username">{{ firstName }} {{ lastName }}</h2>

  <p>Hello, {{firstName}}. Edit your inlabelation and dont forget to save!</p>

<form action="/auth/userupdate" method="post">
<label>Last Name: <input name="lastName" type="text" value="{{lastName}}"> </label>
<label>First Name: <input name="firstName" type="text" value="{{firstName}}"> </label> 
<label>Mail adresse/ account name: <input name="email" type="text" value="{{email}}"> </label>
{{/with}}


{{!-- <label> Credit card: </label> 

<label><a href="">Change password</a></label> --}}


<button type="submit" >Update
</button>

  <button>
    <a href="/auth/userprofile">Return without saving</a>
  </button>
</form>